<a href="https://colab.research.google.com/github/Malveena06/python/blob/main/Copy_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *basics* *of* *python*

In [ ]:
# Find square root of 67
num = 67
num_square_root = (num)**(1/2)
print(num_square_root)

8.18535277187245

In [ ]:
# Calculate the area of the triangle having three sides 5 , 6 and 7
s1= 5
s2 = 6
s3 = 7
semi_perimeter = (s1+s2+s3)/2
area = (semi_perimeter*(semi_perimeter -s1)*(semi_perimeter-s2)*(semi_perimeter-s3))**0.5
print("Area of triangle :- ")
print(area)

Area of triangle :-
14.696938456699069

In [ ]:
# Swap the two numbers
x = 10
y=20
x= x+y
y = x-y
x= x-y
print("x",x)
print("y",y)

x 20
y 10

# String

In [ ]:
# capitalize
string1 ="i am using google collab "

In [ ]:
string1.capitalize()

'I am using google collab '

In [ ]:
# len()
len(string1)

25

In [ ]:
# center()
# it will allign it in center
# Syntax -> variable.center(len, char)
string1.center(40 , "*")

'*******i am using google collab ********'

In [ ]:
# endswith()
# syntax -> variable.endswith(value, start , end)
string1.endswith("b")

False

In [ ]:
string1.endswith("b",0,25)

False

In [ ]:
string1.endswith(" ")

True

In [ ]:
# startswith()
# Synatax -> variable.startswith(value, start , end)
string1.startswith("i")

True

In [ ]:
# count()
string1.count("g")

3

In [ ]:
# upper() & lower()
str2 =string1.upper()
print("upper",str2)
str3= string1.lower()
print("lower", str3)

upper I AM USING GOOGLE COLLAB
lower i am using google collab

In [ ]:
# input
# input() -> data type will be string by default
a = input()

25

In [ ]:
# typecasting
cost = 500

In [ ]:
type(cost)

int

In [ ]:
# for changing the data type of cost from integer to string we do this
type(str(cost))

str

In [ ]:
c = input("Enter the value of c ")
d = input("enter the value of d ")

Enter the value of c 46
enter the value of d 67

In [ ]:
c + d

'4667'

In [ ]:
type(c)

str

In [ ]:
# now we are going to apply typecasting in the input values and change it to integer data type
c = int(input("Enter the value of c "))
d = int(input("Enter the value of d "))

Enter the value of c 46
Enter the value of d 67

In [ ]:
c + d

113

In [ ]:
type(c)

int

In [1]:
# take two numbers as an input from the user and perform the following operation(a+b)-(-a)
a = int(input("Enter the value of a :- "))
b = int(input("Enter the value of b :- "))
c = (a+b) -(-a)
print(c)

Enter the value of a :- 10
Enter the value of b :- 20
40

# Python Data structure

In [ ]:
# Arrays , Stack , Queue , Linked List , Hashing , Graph , Trees
1. List -[12, "String", "Float", 4.56 , {"Key":"Value"}] # List stores the heterogeneous data while array stores homogeneous data
2. Tuple -() # it is same as list but the difference is that tuple is immutable(means its values cannot be changed)while list is mutable.
3. Set - {} # set do not contain the repeated values , it will only work on integer datatype
4. Dict - {key:value}

In [ ]:
# sets
1. it is unordered
2. it is unchangeable -> in-built
3. {}
4. it does not support duplicacy
5. also python data structure

In [1]:
seti ={1,2,9,3,90,48}

In [2]:
seti

{1, 2, 3, 9, 48, 90}

In [3]:
seti = {"apple","mangoes" , "cherries", "Cherries" }

In [4]:
seti

{'Cherries', 'apple', 'cherries', 'mangoes'}

In [5]:
seti{0}

SyntaxError: ignored

In [6]:
seti[1]

TypeError: ignored

In [7]:
# now here first we need to change set into list by using typecasting
listi = list(seti)

In [8]:
listi

['cherries', 'mangoes', 'apple', 'Cherries']

In [9]:
listi[0]

'cherries'

In [10]:
listi[0]= "banana"

In [11]:
listi

['banana', 'mangoes', 'apple', 'Cherries']

In [12]:
seti = set(listi)

In [13]:
seti

{'Cherries', 'apple', 'banana', 'mangoes'}

In [14]:
# here in is used to check whether banana is present in seti or not
"banana" in seti

True

In [26]:
# CRUD

set_a = {"apple", "mangoe","oranges"}
set_b = {"banana"}

In [27]:
# for adding seta and set b we use update
# we use updaate ony when we need to add two sets
set_a.update(set_b)

In [28]:
print(set_a)

{'banana', 'mangoe', 'apple', 'oranges'}

In [29]:
# for adding any element in the ssset we can add by using add
set_a.add("kiwi")

In [30]:
set_a

{'apple', 'banana', 'kiwi', 'mangoe', 'oranges'}

In [31]:
# remove()
set_a.remove("kiwi")

In [32]:
set_a

{'apple', 'banana', 'mangoe', 'oranges'}

In [34]:
# discard() is allso used to remove the element from the set
set_a.discard("apple")

In [35]:
set_a

{'banana', 'mangoe', 'oranges'}

In [36]:
# clear()
set_a.clear()

In [38]:
# it shows that now set is cleared aand it is empty now
set_a

set()

In [51]:
set_a ={"apple","bananas","cherries"}
example ={"apple"}
set_b = {"google","microsoft","apple"}

In [40]:
set_a.union(set_b)

{'apple', 'bananas', 'cherries', 'google', 'microsoft'}

In [41]:
set_a.intersection(set_b)

{'apple'}

In [44]:
example.issubset(set_a)

True

In [45]:
example.issubset(set_b)

True

In [46]:
set_b.issubset(set_a)

False

In [52]:
set_c =set_a.difference(set_b)

In [53]:
set_c

{'bananas', 'cherries'}

# Conditional statements

In [ ]:
a == b
a != b
a < b
a > b
a <= b
a >= b

In [56]:
winner = "England"
if winner=="England":
    print("earn 5000 ruppees")

else:
    print("chores")

earn 5000 ruppees

In [57]:
price = int(input("Enter the price"))
if price<100 :
  print("buy some snacks")
elif price==100:
  print("buy some power rangers card")
elif price>100:
  print("i am going to buy a remote control car")
else:
  print(" I am going to cry")

Enter the price120
i am going to buy a remote control car